



*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


body{
	font-family: acumin-pro, sans-serif;
	background-color: #ecf0f5;
	line-height: 1.4;
}

.wrapper{
	width: 100%;
}
/* Navigation */

.nav {
	width: 100%;
	background-color:#222d32;
	
  }
  
   ul{
	  list-style: none;
	  
  }

  .nav img{
	width: 100px;
	height: 100px;
	margin: 10px;
  }
 
.menu{
	display: inline-block;
	width: 800px;
	margin-top: -30px;

	margin-left: 250px;
	
}

  .menu a {
	text-decoration: none;
	float: left;
	margin-top: -50px;
	padding: 50px;
	font-size: 1.5rem;
	color:#c9ced7;
  }
  
 .menu a:hover{
	 color: white;
 }

  .container{
	margin-top: 30px;
	margin-left: 10px;
	
}

.info-content{
	border:1px solid#555;
	height: 530px;
	width: 97%;
	background-color: white;
	margin-left: 22px;
}

/*for info table*/

 h2{
	text-align: center;
}

.info h3{
	margin-left:50px;
	margin-top: 10px;
}

.info table{
	width: 700px;
	border: 0;
}

.info th, td{
	background-color: white;
}



.info tr{
	border-bottom:0;

}

table{
	width: 1250px;
	background-color:  #ffffff;
	margin-left: 80px;
	margin-top:40px;
	
}


th{
	text-align: left;
}

table, th, td{
	font-size:1.1em;
	margin: 25px, 0;
	border-collapse: collapse;
	
}

th{
	background-color: gray;
	color: black;
	font-weight: bold;
}

th, td{
	padding: 12px 15px;
}

tr{
	border-bottom: 1px solid gray;
}

tr:nth-child(even){
	background-color: #ffffff;
}

tr:nth-child(odd){
	background-color: #f2f2f2
}
 
/* for the track table*/
.track table{
	width: 300px;
}

.track a{
	text-decoration: none;
	font-size: 1.2rem;
}

.track a:hover{
	color: black;
	font-size: 1.5rem;
}

#enroll-btn{
	float: right;
	margin-top: 8px;
	margin-right: 150px;
	width: 100px;
	height: 40px;
}

  


  @media screen and (max-width: 680px) {
	 table{
	  float: none;
	  display: block;
	  width: 100%;
	  text-align: center;
	}
	
	.menu a{
		float: none;
	  display: block;
	  width: 100%;
	  margin-left: -100px;
	}
  
  
  @media screen and (max-width: 800px) {
	 table, .menu, .info table, .nav {
	  width: 100%;
	  height: auto;
	  position: relative;
	}
	.menu a {float: left;}
	.container, .info-content {margin-left: 0; width: 95%; height: 400px; margin-left:10px; }
  }
  
  }