

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}




body{
	font-family: bebas neue;
	background-color: #ecf0f5;
	line-height: 1.4;
}

p {
	font-family: roboto;
}

h2{
	text-align: center;
}

.wrapper{
	width: 100%;
}

.nav{
	width: 100%;
	height: 25px;
	background-color: #222d32;
	top:0;
}


.sidebar img{
	width: 90px;
	height: 90px;
}

ul{
	list-style: none;
}

.sidebar {
  width: 200px;
  background-color:#222d32;
  position: fixed;
  height: 100%;
  top:0;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #c9ced7;
  padding: 2px;
  margin-left: 10px;
  margin-top: 40px;
  text-decoration: none;
}
.sidebar a:hover {
  color: white;
}
.sidebar a:hover {
	color: white;
	
  }

.container{
	margin-top: 30px;
	margin-left: 240px;
	
}

table{
	width: 1250px;
	border: 1px solid #ddd
}


th{
	text-align: left;
}

table, th, td{
	font-size:0.918em;
	margin: 25px, 0;
	border-collapse: collapse;
	border-bottom: 1px solid gray;
	
}

th{
	background-color:  #ffffff;
	color: black;
	font-weight: bold;
}

th, td{
	padding: 12px 15px;
}

tr{
	border-bottom: 1px solid gray;
}



/*Student info table*/
.info th, td{
	background-color: #ecf0f5;
	border-bottom:0;
}
.info table{
	width: 400px;
	background-color: #ecf0f5;
	border: 0;
}
.info tr{
	border-bottom:0;
}

/* for the track table*/
.track table{
	width: 200px;
	background-color: #ecf0f5;
}
.track a{
	text-decoration: none;
	font-size: 1.1rem;
	color: black;
}

.track a:hover{
	color: black;
	font-size: 1.2rem;
}

/* for enroll table*/
.enroll table{
	width: 1200px;	
}



#danger-btn a{
	text-decoration: none;
	padding: 5px;
	background-color:rgb(212, 6, 6);
	border: 2px solid rgb(212, 6, 6);
	border-radius: 5px;
	color:white

}

#edit-btn a{
	text-decoration: none;
	padding: 5px;
	background-color:rgb(4, 4, 180);
	border: 2px solid rgb(4, 4, 180);
	border-radius: 5px;
	color:white

}


#enroll-btn{
	float: right;
	margin-right: 95px;
	margin-top:5px;
	width: 100px;
	height: 35px;
}

/* add new course form */
.add-wrapper{
	margin: auto;
	width: 420px;
	height:100%;
	 
}

.add-container{
	background-color:white;
	max-height: 100%;
	padding: 30px;
	box-shadow: 0 0 5px  rgb(82, 83, 82);
	border-radius: 5px;

}

.signup-form{
	height: inherit;
}

.signup-form h2{
	color:#34495E;
	text-align: center;
}

input[type=text] {
	width: 350px;
	height: 30px;
}

#submit{
	background-color: #3455DB;
	color: white;
	font-size:18px;
}

 #submit:hover{
	background-color: darkblue;
	color: white;
	font-size:18px;
}

#submit a{
	text-decoration: none;
	color: #3455DB;
}

#submit a:hover{
	text-decoration: underline;
	font-size:18px;
}

.error{
    font-size: 0.9rem;
    color: red;
    width: 300px;
}

.success{
    padding: 5px;
    margin-left:38px;
    margin-top: -20px;
    font-size: 1.2rem;
    color: green;
    width: 300px;
}

#add  {
	font-size: 1.2rem;
	width: 150px;
	height: 40px;
}



@media screen and (max-width: 680px) {
  .sidebar a,  .nav, .enroll table  {
    float: none;
    display: block;
    width: 95%;
    text-align: center;
  }
  
h2{
	font-size: 0.9em;
}


@media screen and (max-width: 850px) {
  .sidebar, table, .nav, .enroll table {
    width: 100%;
    height: auto;
	position: relative;
	border-bottom: 0;
  }
  #enroll-btn{margin-right: -55px; position: relative;}
  .sidebar a {float: left; margin-top:0px; padding: 10px;}
  .container {margin-left: 0; width: 95%; margin-left:10px; }
}

}